.header {
    position: relative;
    width: 100%;
    height: 95px;
}

.company-logo {
    position: absolute;
    width: 9.1%; /* 175/1920 */
    height: 50.5%; /* 48/95 */
    left: 10.8%; /* 208/1920 */
    top: 25.2%; /* 24/95 */
}

.menu {
    position: absolute;
    left: 34.2%; /* 658/1920 */
    top: 41%; /* 39/95 */
    display: flex;
    justify-content: space-between;
    width: 31.4%; /* 기존에 603px 였다고 가정 */
}

.menu-item {
    font-family: 'NanumGothic', sans-serif;
    font-size: 1vw;
    color: #000000;
}

.hvac-combined {
    position: absolute;
    width: 7.5%; /* 145/1920 */
    height: 57.8%; /* 55/95 */
    left: 73.7%; /* 1416/1920 */
    top: 21%; /* 20/95 */
    background: #3A7AB7;
    font-family: 'NanumGothic', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 10px;
}

.hvac-text {
    display: inline-block;
    text-align: center;
}


.bold-text {
    font-weight: bold;
}
